# Dependencias
node_modules/

# Build de producción
dist/

# Cache de Vite
.vite/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

# Coverage de tests
coverage/
